/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.bannerFoto{
  width: 1500px;
  height: 400px;
  box-sizing: border-box;
  
}

.voorstellingCard{
  background-color: #45505a;
  display: flex;
  align-items: center;
  width: auto;
  height: 150px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  color: white;
  ;
}

.voorstellingCard > img{
  width: 130px;
  height: 150px;
}

.cardDatumInfo > ul{
  list-style-type: none;
  padding: 0;
  text-align: center;
  padding-left: 20px;
}

.cardVoorstellingInfo{
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  text-align: center;
}

.cardVoorstellingInfo > ul{
  text-align: center;
  list-style-type: none;
}

.cardInfoPrijs > ul {
  text-align: center;
  list-style-type: none;
  padding-top: 20px;
  margin-left: 50px;
}

.cardInfoPrijs > ul > li > button{
  background-color: #f0a0a0;
  font-family: 'Courier New', Courier, monospace;
}

.pageCardTitel{
  text-align: left;
  font-size: 20px;
  padding-top: 40px;
  margin-bottom: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}