/* Provide sufficient contrast against white background */
body {
  background-color: #3D3D3D;
  color: white;
}

a {
  color: white;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.cardDatumInfo > ul{
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.cardVoorstellingInfo > ul{
  text-align: center;
  list-style-type: none;
}

.cardInfoPrijs > ul {
  text-align: center;
  list-style-type: none;
}

.pageCardTitel{
  text-align: left;
  font-size: 20px;
  padding-top: 40px;
}

.beginBanner {
  background-image: url('./assets/theaterHomePic.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 420px;
  color: white;
}

.beginBannerText {
  text-align: center;
  padding-top: 180px;
}

.voorstellingCards {
  display: flex;
}

.voorstellingMiniCard > img{
  width: 190px;
  height: 285px;
}

.voorstellingMiniCard {
  display: inline-block;
  margin: 0px 10px;
}

.footer {
  background-color: #222222;
  color: white;
  text-align: center;
  padding: 20px;
}

