.donateursPortaal{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;

}

.donateursPortaalText{
    margin-left: 20px;
    margin-right: 40px;
    max-width: 500px;
    align-self: auto;
    margin-top: 40px;

}

.donateursKnop > button{
    background-color: #c62222;
    border-radius: 10px;
    padding: 20px;
    border-color: white;
}

.donateursKnop > button:hover{
    margin-bottom: 5px;
}

.donatieLink{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.donatieLink:hover{
    color: pink;
    margin-bottom: 2px;
}

.welkomBerichtDonateur{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #c62222;
}

.knoppenContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.donatieTabel, .donatieTabel th, .donatieTabel td{
    border-radius: 3px;
    border: 1px solid #c62222;
    padding: 4px;
    width: 700px;
}